header
{
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/logo.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: 20px;
}